<mat-card class="chat-main">
	<p class="error" *ngIf="(error)">{{error.error.err}}</p>
        <mat-card-content>
		<div class="text">
			<div *ngFor="let message of chat">
        	                <mat-card-content class="chat-text">
                	                <p>{{message.message}}</p>
                        	        <p>Sender: {{message.user}}</p>
	                        </mat-card-content>
        	        </div>
		</div>
        </mat-card-content>
</mat-card>

<div class="pchat-message">
        <input [(ngModel)]="message" type="text" placeholder="Message">
        <button (click)="onSubmit()">Send</button>
</div>

