<html>
	<title>Chat App</title>
	<body>
		<h1> Login </h1>
		<form method="POST" action="/login">
			<input type="text" placeholder="Email" name="email">
			<input type="text" placeholder="Password" name="passwd">
			<input type="submit" name="Submit">
		</form>
	</body>
	<footer>
		<a href="/register">Register</a>
	</footer>
</html>
