<html>
	<title>Chat App</title>
	<body>
		<h1> Register </h1>
		<form method="POST" action="/register">
			<input type="text" placeholder="Email" name="email">
			<input type="text" placeholder="Password" name="passwd">
			<input type="text" placeholder="Name" name="name">
			<input type="submit" name="Submit">
		</form>
	</body>
	<footer>
		<a href="/login"> Login </a>
	</footer>
</html>
