.chat-head {
        text-align: center;
}

.chat-message {

        align: center;
        margin-left : 4cm;
        margin-right : 3cm;
}

input {
        border: solid 2px cyan;
        text-align: center;
}

button {
        background-color: seagreen;
}

.chat-text {
        padding: 10px;
        margin-top : 10px;
        margin-left: 0.5cm;
        background-color: seagreen;
        color: white;
}

.chat-main {
        padding: 5px;
        background-color: cyan;
        margin-left : 3cm;
        margin-right: 3cm;
}

